@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$default-font: 'Open Sans', sans-serif;

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;

  & > div {
    margin-left: 20px;
    margin-right: 20px;
    font-family: $default-font;
    font-size: 15px;
    font-weight: 600;
  }
}
