<h4>All Projects</h4>
<div class="group-charts">
  <div
    id="bounced"
    [chartData]="bounced_ChartData"
    [chartOptions]="bounced_chartOptions"
    chartType="PieChart"
    GoogleChart></div>

    <div
      id="sentToday"
      [chartData]="sentToday_ChartData"
      [chartOptions]="sentToday_chartOptions"
      chartType="PieChart"
      GoogleChart></div>
</div>

<div class="group-charts">

    <div
      id="sentWeek"
      [chartData]="sentWeek_ChartData"
      [chartOptions]="sentWeek_chartOptions"
      chartType="PieChart"
      GoogleChart></div>

      <div
        id="sentMonth"
        [chartData]="sentMonth_ChartData"
        [chartOptions]="sentMonth_chartOptions"
        chartType="PieChart"
        GoogleChart></div>
</div>


  <div
    id="freq"
    [chartData]="freq_ChartData"
    [chartOptions]="chartOptions"
    chartType="BarChart"
    GoogleChart></div>

    <div
      id="subscribed"
      [chartData]="subscribed_ChartData"
      [chartOptions]="chartOptions"
      chartType="ColumnChart"
      GoogleChart></div>
